/* Your Styles Here */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


.container {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.background-only {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.863)), url(Images/gt-background.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.card {
    box-shadow: 0px 0px 10px #45A29E;
    opacity: 100;
    transform: translateY(20px);

    background: linear-gradient(to right, #0C0032 0%, #07001d 100%); 
    /* Set the desired background color */
    /* Adjust the border radius for curved edges */
    border-image: linear-gradient(270deg,#C3073F, #950740) 30;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    /* Add padding to the card content for spacing */
    box-shadow: 0px 1px 2px #66FCF1; /* Add the drop shadow */

    animation: fadeSlide 1s ease forwards;
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.card-title {
    color: #66FCF1;
    display: inline-block
}

.card-content {
    color: #C5C6C7;
}

.background-sb{
    
}
.slide-box {
    background: linear-gradient(to right, #5f4cc9 0%, #fcfcfc 100%); 
    opacity: 100;
    /* Set the desired background color */
    border-image: linear-gradient(270deg,#853AFF, #57A5A9) 30;
    border-width: 1px;
    border-style: solid;
    /* Adjust the border radius for curved edges */
    padding: 20px;
    /* Add padding to the card content for spacing */
    color: #C5C6C7;


    animation: fadeSlide 1s ease forwards;
    top: 0;
    right: 0;
    animation: skrrt 3s forwards;
    background-color: #f3f3f3;
    /* Box background color */
    /* Add a sliding animation */
}

/* code for slide-box that makes the slide-box slide to the right from inside of the card */


@keyframes skrrt {
    to {
      right: 100;
    }
  }


.content-of-sb {
    opacity: 0;
    /* Initially hide content */
    padding: 20px;
    animation: fade-in 1s ease-in-out 0.8s forwards;
    /* Add a fade-in animation */
}

@keyframes slide-in {
    to {
        right: 0;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}